{% extends "AdminSumarteApp/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la Jornada del {{ fecha }}</title>
</head>
<body>
<section class="vh-50 p-6" style="background-color: #19437E;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                    <h5>{{ user.username }}</h5>

                     <!-- Botones de avance y retroceso de día -->
                     <div class="d-flex justify-content-between">
                        <a href="{% url 'calendario_dia' dia_anterior %}?usuario_id={{ usuario_actual.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>
                        </a>
                        <h6>{{ fecha }}</h6>
                        <a href="{% url 'calendario_dia' dia_siguiente %}?usuario_id={{ usuario_actual.id }}"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                          </svg>
                        </a>
                    </div><br>
                    
                    
                    {% if request.user.is_staff %}
                        <form method="get" action="">
                            <label for="usuario_id">Ver tareas de:</label>
                           
                            <select name="usuario_id" id="usuario_id" class="form-control" onchange="this.form.submit();">
                                {% for usuario in usuarios %}
                                    <option value="{{ usuario.id }}" {% if usuario == usuario_actual %}selected{% endif %}>
                                        {{ usuario.username }}
                                    </option>
                                {% endfor %}
                            </select>
                        </form><br>
                    {% endif %}

                    {% if eventos %}
                        <ul>
                            {% for evento in eventos %}
                                <li>De {{ evento.hora_inicio }} a {{ evento.hora_fin }} - {{ evento.descripcion }} 
                                {% if evento.usuario == request.user %}
                                 <a href="{% url 'eliminar_linea_agenda' evento.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                      </svg>  
                                </a>
                                </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Sin tareas registradas durante este día.</p>
                    {% endif %}
                      

                    <!-- Formulario para añadir una tarea -->
                    {% if request.user.id == usuario_actual.id %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}  <!-- Renderiza el formulario usando crispy-forms -->
                        <button type="submit" class="btn btn-outline-dark btn-sm">Añadir tarea</button>
                    </form>
                    {% endif %}

                    <br><br>
                    <a href="{% url 'calendario_mes' year=fecha.year month=fecha.month %}?usuario_id={{ usuario_actual.id }}" class="btn btn-outline-dark btn-sm">Volver a vista mensual</a>
                    <a href="{% url 'calendario_mes' year=fecha.year month=fecha.month %}" class="btn btn-outline-dark btn-sm">Exportar PDF</a>
                    <!-- Botón de volver al calendario -->

                    
                   
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
{% endblock %}

