<!DOCTYPE html>
{% extends "AdminSumarteApp/base.html" %}
{% load static %}
<html lang="en">

{% block title %}
<h2><p class="text-white">Crear Control Diario</p></h2>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2><p class="text-white">Crear Control Diario</p></h2>
    
    <form method="post" action="{% url 'crear_control_diario' %}">
        {% csrf_token %}
        {{ form.as_table }}  <!-- Esto renderiza cada campo del formulario como un párrafo -->
        <button type="submit" class="btn btn-primary">Crear Control Diario</button>
    </form>
    </form>
</div>
{% endblock %}
</html>
