
<!DOCTYPE html>
{% extends "AdminSumarteApp/base.html" %}

<html lang="en">



{% block title %}

SUMARTE - ADMINISTRACION




{% endblock %}


{% block content%} 

<script>


	function cambiaColor(celda) {
		
	  // 
	  // CAMBIA COLOR CELDAS HORA


	  
	  if (document.getElementById(celda).style.backgroundColor == "green"){
	  	document.getElementById(celda).style.backgroundColor = "white";
		document.getElementById(celda).style.color = "black";
		}
		else
	  	if (document.getElementById(celda).style.backgroundColor != "orange") { 
	  	document.getElementById(celda).style.backgroundColor = "orange";
		document.getElementById(celda).style.color = "black";
	  }
		else
		{
		document.getElementById(celda).style.backgroundColor = "green";
		document.getElementById(celda).style.color = "white";
		}
	
	}
</script>


<body>
	<!-- style="background-color: #19437E;" azul sumarte -->
	<div id="celda" class="card text-center"><h5 class="card-title">GESTION DE HORARIO</h5></div>
  
	<section class="vh-50" style="background-color: #19437E;">
	  <div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
		  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
			<div class="card shadow-2-strong" style="border-radius: 1rem;">
			  <div class="card-body p-5 text-center" style="cursor: pointer">
			
				
				{% for AgendaHoja in AgendaHojas %}

				

					<div class="input-group input-group-sm mb-1">
					<span id="cel-7" class="input-group-text" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-7')">07:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{AgendaHoja.siete}}">
					<span id="cel-7-5" class="input-group-text" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-7-5')">07:30</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>

					<div class="input-group input-group-sm mb-1">
					<span id="cel-8" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-8')">08:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					<span id="cel-8-5" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-8-5')">08:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
				  
					<div class="input-group input-group-sm mb-1">
					<span id="cel-9" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-9')">09:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{AgendaHoja.nueve}}">
					<span id="cel-9-5" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-9-5')">09:30</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{AgendaHoja.nueveymedia}}"></div>
					
					<div class="input-group input-group-sm mb-1">
					<span id="cel-10" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-10')">10:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{AgendaHoja.diez}}">
					<span id="cel-10-5" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-10-5')">10:30</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
						
					<div class="input-group input-group-sm mb-1">
					<span id="cel-11" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-11')">11:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					<span id="cel-11-5" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-11-5')">11:30</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
						
					<div class="input-group input-group-sm mb-1">
					<span id="cel-12" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-12')">12:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					<span id="cel-12-5" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-12-5')">12:30</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>	
					
					<div class="input-group input-group-sm mb-1">
					<span id="cel-13" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-13')">13:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					<span id="cel-13-5" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-13-5')">13:30</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>	

					<div class="input-group input-group-sm mb-1">
					<span id="cel-14" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-14')">14:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					<span id="cel-14-5" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-14-5')">14:30</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>

					<div class="input-group input-group-sm mb-1">
					<span id="cel-15" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-15')">15:00</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					<span id="cel-15-5" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-15-5')">15:30</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
					
					<div class="input-group input-group-sm mb-1">
					<span id="cel-extra-1" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-extra-1')">EXT-1</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					<span id="cel-extra-2" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-extra-2')">EXT-2</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>

					<div class="input-group input-group-sm mb-1">
					<span id="cel-extra-3" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-extra-3')">EXT-3</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
					<span id="cel-extra-4" class="input-group-text" id="celdahora_ocho" id="inputGroup-sizing-sm" onclick="cambiaColor('cel-extra-4')">EXT-4</span>
					<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div>
				

					<div class="form-floating">
					<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
					<label for="floatingTextarea">Notas adicionales:</label>
				  	</div><br>
					<button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm btn-block" type="submit">Guardar cambios</button></div>
					{% endfor %}
					<!--
					<form action="/busca_hoja_jornada/" method="GET">
						<input type="text" name="txtnombre">
						<input type="submit" value="Buscar">
				
					</form>
					-->

			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	
	</body>     
  
  
	
</div>
	


{% endblock %}
