<!DOCTYPE html>
{% extends "AdminSumarteApp/base.html" %}
{% load static %}
<html lang="en">


{% block title %}

{% endblock %}



{% block content%} 
    
<body>

<section class="vh-50 p-6" style="background-color: #19437E;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          
          <div class="card-body p-5 text-center">

            <h3 class="mb-5"> <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AdminSumarteApp/img/arteixosumarte_logo_azul.png' %}" alt=""></img></h3>
            <div class="card-body text-center">
                
              <p class="card-text">Plataforma de gestión interna.</p><br>
              {% if request.user.is_authenticated %}
              <p class="card-text fw-semibold">Sesion iniciada como: {{user.username}}</p>
              {% else %}
              <a href="{% url 'login' %}" class="link fw-semibold">Iniciar Sesion</a>
              {% endif%}
              
             
            
            </div>
           
      
           </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>  

{% endblock %}
