<!DOCTYPE html>
{% extends "AdminSumarteApp/base.html" %}
{% load static %}
<html lang="en">


{% block title %}

{% endblock %}



{% block content%} 
    
<body>

<section class="vh-50 p-6" style="background-color: #19437E;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          
          <div class="card-body p-5 text-center">

            <h3 class="mb-5"> <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AdminSumarteApp/img/arteixosumarte_logo_azul.png' %}" alt=""></img></h3>
            <div class="card-body text-center">
                
               
                    <h4 class="text-center">Gestión de Instalaciones</h4><br>
                    <a href="{% url 'mapa_instalaciones' %}" class="btn btn-outline-dark btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                      <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg> MAPA</a><hr>
                    
                 
                    <div class="list-container">
                      <h6 class="header text-start">DEPÓSITOS</h6>
                      <ul class="indented-list text-start">
                        <li>Angra [2]</li>
                        <li>Pastoriza [5] </li>
                        <li>Monte das Arcas [9] </li>
                        <li>Sabón [10]</li>
                        <li>Gallardo [-]</li>
                        <li>Larín [-]</li>
                      </ul>
                      
                      <h6 class="header text-start">ESTACIONES DE BOMBEO</h6>
                      <ul class="indented-list text-start">
                        <li>Sobrado (Meicende)</li>
                        <li>Sisalde</li>
                        <li>Gallardo</li>
                      </ul>
                    </div>

                    <h6 class="header text-start">E.T.A.P.</h6>
                      <ul class="indented-list text-start">
                        <li>Sabón -> Sabón Dep. </li>  
                        <li>Sisalde -> Angra Dep. </li>  
                      </ul>

                      <h6 class="header text-start">E.D.A.R.</h6>
                      <ul class="indented-list text-start">
                        <li>Rañal</li>
                        
                      </ul>
             
            
            </div>
           
      
           </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>  

{% endblock %}