<!DOCTYPE html>
{% extends "AdminSumarteApp/base.html" %}
{% load static %}
<html lang="en">


{% block title %}

{% endblock %}



{% block content%} 
<style>
    .map-container {
        text-align: center;
        margin: 0px;
    }
    iframe {
        width: 100%;
        max-width: 100%; /* Ajusta el tamaño máximo según sea necesario */
        height: 600px; /* Ajusta la altura según sea necesario */
        border: none; /* Elimina el borde */
    }
</style>

<body>
    
    <div class="map-container">
        <iframe src="https://www.google.com/maps/d/u/3/embed?mid=1E56p9mQ332PPQ91TZrdzagTvAo3HQs0&ehbc=2E312F" width="640" height="480"></iframe>
    </div>
</body>

{% endblock %}
