<!DOCTYPE html>
{% extends "AdminSumarteApp/base.html" %}
{% load static %}
<html lang="en">


{% block title %}

{% endblock %}



{% block content%} 
    
<body>

<section class="vh-50 p-6" style="background-color: #19437E;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          
          <div class="card-body p-5 text-center">

            <h3 class="mb-5"> <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'AdminSumarteApp/img/arteixosumarte_logo_azul.png' %}" alt=""></img></h3>
            <div class="card-body text-center">
                
               
                    <h4 class="text-center">Gestión con contadores</h4>
                    <div class="container  text-center mt-4">
                      <div class="row">
                        <div class="col p-2">
                          <a href={% url 'cambios_contador' %} class="btn btn-sm btn-primary btn-lg">Cambios Contador</a>
                        </div>
                        <div class="col p-2">
                          <a href={% url 'lecturas_abonados' %} class="btn btn-sm btn-success btn-lg">Lecturas Abonado</a>
                        </div>
                        <div class="col p-2">
                          <a href="#" class="btn btn-sm btn-danger btn-lg">Clandestinos (18-G)</a>
                        </div>
                        <div class="col p-2">
                          <a href="#" class="btn btn-sm btn-warning btn-lg">Registro Fugas</a>
                        </div>

                      </div>
                        
                    </div>
             
            
            </div>
           
      
           </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>  

{% endblock %}