<!DOCTYPE html>
{% extends "AdminSumarteApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">

{% block title %}
<h2><p class="text-white">Nuevo Cambio de Contador</p></h2>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2><p class="text-white">Nuevo Cambio de Contador</p></h2>
    
    <form style="width: 100%;" id="nuevo-cpontrol-diario-form" method="POST" action="{% url 'registrar_cambio_contador' %}">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-2 col-12">
                <input type="number" name="año"  class="form-control" placeholder="Año" min="2024" required>
            </div>
            <div class="col-md-2 col-12">
                <input type="number" name="mes" class="form-control" placeholder="Mes" min="1" max="12" required>
            </div>
            <div class="col-md-2 col-12"></div>
            <button type="submit" class="btn btn-primary btn-sm mt-3">Registrar</button>
            </div>
    </form>
    <br>
</div>
{% endblock %}
</html>
