<!DOCTYPE html>
{% extends "AdminSumarteApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">

{% block title %}
<h2><p class="text-white">Nuevo Cambio de Contador</p></h2>
{% endblock %}

{% block content %}
<section class="vh-50 p-6" style="background-color: #19437E;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            
            <div class="card-body p-5 text-center">
  
              <h2>Cambio de Contador</h2><br>
              <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}  
                   
                    <button type="submit" class="btn btn-primary">Guardar Cambio</button>
                </form>
                <a href="{% url 'cambios_contador' %}" class="btn btn-secondary mt-3">Volver</a>
            </div>
  
            </div>
          </div>
        </div>
      </div>       
  </section>


{% endblock %}
</html>
